#FILE_INFO {filename:"TOR/litp/mcollective.log", Description:"Data copied from /var/log/mcollective.log", privacy_content:["None"]}
#FILE_INFO {filename:"TOR/litp/mcollective-audit.log", Description:"Data copied from /var/log/mcollective-audit.log", privacy_content:["None"]}
#FILE_INFO {filename:"TOR/litp/litpd_access.log", Description:"Data copied from /var/log/litp/litpd_access.log", privacy_content:["Unknown"]}
#FILE_INFO {filename:"TOR/litp/litpd_error.log:", Description:"Data copied from /var/log/litp/litpd_error.log:", privacy_content:["Unknown"]}
#FILE_INFO {filename:"TOR/litp/litp_libvirt.log", Description:"Data copied from /var/log/litp/litp_libvirt.log", privacy_content:["None"]}

#########################################################################################
# Config file for LITP Log collection within the functions file.                        #
# source_filename:location:date_format:time_format:action:destination_filename          #
# The action CAT_DATE may accept multiple files via wildcards. e.g. filename*           #
# Time format is only used when parsing multiple files                                  #
# if destination_filename is not specified source_filename is used                      #
#########################################################################################

#####################################
# Log built up over multiple dates. #
#####################################

# Logs from /var/log
mcollective.log:/var/log:SQL_DATE_ONLY:GENERAL_HHMMYY:CAT_DATE:
mcollective-audit.log:/var/log:SQL_DATE_ONLY:GENERAL_HHMMYY:CAT_DATE:

# Logs from litp /var/log/litp
litpd_access.log:/var/log/litp:DATE_MON_YYYY:GENERAL_HHMMYY:CAT_DATE:
litpd_error.log:/var/log/litp:SQL_DATE_ONLY:GENERAL_HHMMYY:CAT_DATE:
litp_libvirt.log:/var/log/litp:SQL_DATE_ONLY:GENERAL_HHMMYY:CAT_DATE:
