#FILE_INFO {filename:"TOR/solr.log", Description:"Data copied from /ericsson/solr/install/solr-*/enm/logs/solr.log", privacy_content:["Unknown"]}
#FILE_INFO {filename:"TOR/solr_gc.log", Description:"Data copied from /ericsson/solr/install/solr-*/enm/logs/solr_gc.log", privacy_content:["None"]}

#########################################################################################
# Config file for Solr Log collection within the functions file                         #
# source_filename:location:date_format:time_format:action:destination_filename          #
# The action CAT_DATE may accept multiple files via wildcards. e.g. filename*           #
# Time format is only used when parsing multiple files                                  #
# if destination_filename is not specified source_filename is used                      #
#########################################################################################

#Logs from /ericsson/solr/install/solr-*/enm/logs/
#Solr version on the server may change hence using wild char(*), assuming only one version will be available at a time.
solr.log:/ericsson/solr/install/solr-*/enm/logs/:SQL_DATE_ONLY:GENERAL_HHMMYY:CAT_DATE:solr.log
solr_gc.log*:/ericsson/solr/install/solr-*/enm/logs/:SQL_DATE_ONLY:GENERAL_HHMMYY:CAT_DATE:solr_gc.log
